---
import Container from "../components/shared/Container.astro";
import Navitem from "../components/shared/Navitem.astro";
import logosolo from "../assets/images/logosolo.png";

const navItems = [
  {
    href: "#",
    text: "Home",
  },
  {
    href: "#solutions",
    text: "Solutions",
  },
  {
    href: "#services",
    text: "Services",
  },
  {
    href: "#features",
    text: "Features",
  },
  {
    href: "#faq",
    text: "About us",
  },
];
---

<script>
  if (!localStorage.getItem("theme")) {
    localStorage.setItem("theme", "light");
  }
  document.documentElement.classList.remove("dark");
</script>

<header class="absolute inset-x-0 top-0 z-50 py-6">
  <Container>
    <nav class="w-full flex justify-between items-center relative">
      <div class="min-w-max inline-flex relative">
        <a href="/agency-template" class="relative flex items-center gap-3">
          <div class="relative w-7 h-7 overflow-hidden flex rounded-xl">
            <img src={logosolo.src} alt="KG_MarkTech Logo" class="w-full h-full object-cover" />
          </div>
          <div class="inline-flex text-lg font-semibold text-heading-1">KG_MarkTech</div>
        </a>
      </div>
      <button id="menu-toggle" class="lg:hidden p-2 rounded border border-box-border">
        ☰
      </button>
      <div id="menu" class="hidden lg:flex flex-col lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-gray-200 lg:bg-transparent p-4 lg:p-0">
        <ul class="flex flex-col lg:flex-row w-full lg:justify-center lg:items-center text-lg text-heading-2">
          { navItems.map((item, index) => (
            <li class={`w-full text-center py-2 ${index !== 0 ? 'border-t border-gray-300' : ''}`}>
              <Navitem {...item} />
            </li>
          )) }
        </ul>
        <div class="flex justify-center mt-4 lg:mt-0">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSeN5872yb_1VNk9z0qJtEFFrgiD_CBspF6Z8R-naFbtzL20vA/viewform?usp=header"
            target="_blank"
            rel="noopener noreferrer"
            class="flex justify-center bg-blue-500 text-white px-4 py-2 rounded"
          >
            Get Started
          </a>
        </div>
      </div>
    </nav>
  </Container>
</header>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");

    if (menuToggle && menu) {
      menuToggle.addEventListener("click", function () {
        menu.classList.toggle("hidden");
      });
    }
  });
</script>


